.raiffeisen-btns {

  display: block;

  @extend %BUTTONS-COMPONENT;

  &__item {
    display: inline-block;
    // line-height: 35px;
    text-align: center;
    text-decoration: none;
    border: 1px solid $NORMAL_BUTTON_COLOR;
    transition: background .3s, color .3s, border .3s;
    @extend %BUTTON-COMPONENT;

    @extend %RAIFFEISEN-BTN;
    
    &:hover {
      background-color: $HOVER_BUTTON_COLOR;
      color: #ffffff;
      border-color: $HOVER_BUTTON_COLOR;
    }

    &_online {
      color: #ffffff;
      vertical-align: center;
      background-color: $NORMAL_BUTTON_COLOR;
      @extend %ONLINE-BUTTON-COMPONENT;
    }
    

    &_dealer {
      color: $BASE-COLOR;
      vertical-align: center;
      @extend %DEALER-BUTTON-COMPONENT;
    }
  }
}