.raiffeisen-btns {

  display: block;
  margin: $BUTTONS-MARGIN-TOP $BUTTONS-MARGIN-LEFT $BUTTONS-MARGIN-BOTTOM;  

  &__item {
    display: inline-block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    border: 1px solid $NORMAL_BUTTON_COLOR;
    transition: background .3s, color .3s, border .3s;

    @extend %RAIFFEISEN-BTN;
    
    &:hover {
      background-color: $HOVER_BUTTON_COLOR;
      color: #ffffff;
      border-color: $HOVER_BUTTON_COLOR;
    }

    &_online {
      width: 120px;
      color: #ffffff;
      background-color: $NORMAL_BUTTON_COLOR;
    }
    

    &_dealer {
      width: 70px;
      color: $BASE-COLOR;
    }
  }
}