.raiffeisen-btns {

  display: block;

  @include DESKTOP {
    height: vh($BUTTONS-HEIGHT);
    margin: vw($BUTTONS-MARGIN-TOP) vw(0) vw($BUTTONS-MARGIN-BOTTOM $BUTTONS-MARGIN-LEFT);  
  }
  @include TABLET-L {
    height: $BUTTONS-HEIGHT-LAPTOP;
    margin: $BUTTONS-MARGIN-TOP-LAPTOP 0 $BUTTONS-MARGIN-BOTTOM-LAPTOP $BUTTONS-MARGIN-LEFT-LAPTOP;  
  }
  @include TABLET {
    height: $BUTTONS-HEIGHT-TABLET;
    margin: $BUTTONS-MARGIN-TOP-TABLET 0 $BUTTONS-MARGIN-BOTTOM-TABLET $BUTTONS-MARGIN-LEFT-TABLET;  
  }
  @include MOBILE {
    height: $BUTTONS-HEIGHT-MOBILE;
    margin: $BUTTONS-MARGIN-TOP-MOBILE 0 $BUTTONS-MARGIN-BOTTOM-MOBILE vw-m($BUTTONS-MARGIN-LEFT-MOBILE);  
  }

  &__text {
    margin: auto;
  }

  &__item {
    @extend %RAIFFEISEN-BTN;
    position: relative;
    display: inline-flex;
    text-decoration: none;
    border: 1px solid $NORMAL_BUTTON_COLOR;
    transition: background .3s, color .3s, border .3s;
    @include DESKTOP {
      height: vh($BUTTONS-HEIGHT);
    }
    @include TABLET-L {
      height: $BUTTONS-HEIGHT-LAPTOP;  
    }
    @include TABLET {
      height: $BUTTONS-HEIGHT-TABLET;  
    }
    @include MOBILE {
      height: $BUTTONS-HEIGHT-MOBILE;  
    }

    
    &:hover {
      background-color: $HOVER_BUTTON_COLOR;
      color: #ffffff;
      border-color: $HOVER_BUTTON_COLOR;
    }

    &_online {
      color: #ffffff;
      background-color: $NORMAL_BUTTON_COLOR;
      @include DESKTOP {
        width: vw($ONLINE-BUTTON-WIDTH);
      }
      @include TABLET-L {
        width: $ONLINE-BUTTON-WIDTH-LAPTOP;
      }
      @include TABLET {
        width: $ONLINE-BUTTON-WIDTH-TABLET;
      }
      @include MOBILE {
        width: vw-m($ONLINE-BUTTON-WIDTH-MOBILE);
      }
    }
    

    &_dealer {
      color: $BASE-COLOR;
      @include DESKTOP {
        width: vw($DEALER-BUTTON-WIDTH);
      }
      @include TABLET-L {
        width: $DEALER-BUTTON-WIDTH-LAPTOP;
      }
      @include TABLET {
        width: $DEALER-BUTTON-WIDTH-TABLET;
      }
      @include MOBILE {
        width: vw-m($DEALER-BUTTON-WIDTH-MOBILE);
      }
    }
  }
}