include components/components

block setup     
html
  head
    link(rel="stylesheet", href="styles/styles.css")
    meta(charset="utf-8")
    meta(name="author", content="Melnikova")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block title
      title=title

  body
    block page
    +page
      +custom-header()
      +inner-block()
      +menu(0)

      block content
