.page {
  @extend %DEFAULT;
  position: relative;
  background-color: $COLOR-BODY;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  @include DESKTOP {
    border: $PAGE-BORDER solid white;
  }
  @include TABLET-L {
    border: $PAGE-BORDER-LAPTOP solid white;
  }

  @include TABLET {
    border: $PAGE-BORDER-TABLET solid white;
  }
}