.custom-header {

  @mixin checked(){
    .menu__checkbox:checked ~ & {
      @content;
    }
  }

  display: block;
  position: relative;
  top: 0;
  width: 100%;
  box-sizing: border-box; 

  @include DESKTOP {
    width: vw($HEADER-WIDTH);
    height: vh($HEADER-HEIGHT);
  }
  @include TABLET-L {
    height: $HEADER-HEIGHT-LAPTOP;
  }
  @include TABLET {
    height: $HEADER-HEIGHT-LAPTOP;
  }
  @include MOBILE {
    height: 0;
  }

  @include checked() {
    right: 0;
  }


  &__container {
    position: absolute;
    height: inherit;
    right: 25px;

    @include DESKTOP {
      width: vw($HEADER-CONTAINER-WIDTH-DESKTOP);
      right: vw(25px);
    }
    @include TABLET-L {
      width: $HEADER-CONTAINER-WIDTH-LAPTOP;
    }
    @include TABLET {
      width: $HEADER-CONTAINER-WIDTH-TABLET;
      right: 0;
    }
    @include MOBILE {
      display: block;
      position: fixed!important;
      height: $HEADER-CONTAINER-HEIGHT-MOBILE!important;
      width: $HEADER-CONTAINER-WIDTH-MOBILE;
      left:0;
      bottom: 0;
      z-index: 5;
      background: white;
    }
  }
  
  &__contacts {
    @extend %PHONE;
    position: absolute;
    top: 55px;
    @include TABLET-L {
      top: $CONTACTS-TOP-LAPTOP;
    }
    @include TABLET {
      top: 40px;
      & a {
        text-decoration: none;
        color: $DARK-BROWN;
      }
    }
    @include MOBILE {
      top: $CONTACTS-TOP-MOBILE; 
      left: 25px;
      margin: -35px 0;
      z-index: 10;
      & a {
        text-decoration: none;
        color: $DARK-BROWN;
      }
    }

    @include DESKTOP {
      top: 55px;
    }

    &:after {
      height: 40px; 
      margin: 0 20px;
      border-left: 2px solid $BASE-COLOR;       
      content: "";
      opacity: 0.2;
      @include DESKTOP {
        height: vw(40px); 
        margin: vw(0) vw(30px);
      }
    }
  }

  &__language {
    @extend %LANGUAGE;
    position: absolute;
    cursor: pointer;

    @include DESKTOP {
      right: vw($LANGUAGE-RIGHT-DESKTOP);
      top: $LANGUAGE-TOP-DESKTOP;
    }
    @include TABLET-L {
      right: $LANGUAGE-RIGHT-LAPTOP;
      top: $LANGUAGE-TOP-LAPTOP;
    }

    @include TABLET {
      right: $LANGUAGE-RIGHT-TABLET;
      top: $LANGUAGE-TOP-TABLET;
    }
    @include MOBILE {
      right: $LANGUAGE-RIGHT-MOBILE;
      top: $LANGUAGE-TOP-MOBILE;
      margin: -35px 0;

    }

  }

  &__menu {
    position: absolute;
    opacity: 0.7;
    cursor: pointer;
    transition: opacity .3s;

    @include DESKTOP {
      display: none;
    }
    @include TABLET-L {
      right: 40px;
      top: 45px;
      font-size: 12px;
    }

    @include TABLET {
      right: 35px;
      top: 40px;
    }

    @include MOBILE {
      display: none;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &__menu-icon {
    position: absolute;
    width: 15px;
    height: 12px;
    background-size: 100%;
    z-index: 10;

    p{
      display: block;
      width: 100%;
      height: 1px;
      margin: 4px 0;
      background: $BASE-COLOR;
    }

    @include DESKTOP {
      display: none;
    }

    @include TABLET-L {
      right: 90px;
      top: 43px;
    }

    @include TABLET {
      right: 90px;
      top: 40px;
      width: 16px;
      height: 16px;
    }

    @include MOBILE {
      top: 15px;
      right: 15px;
      width: 24px;
      height: 22px;
    }
  }
}