mixin custom-header(content,params)
  .custom-header&attributes(attributes)
    +logo()
    .custom-header__container
      .custom-header__contacts +7 (495) 662 76&nbsp;77
      .custom-header__line
      .custom-header__language
        +language
    label(for="close-menu")
      .custom-header__menu МЕНЮ
      .custom-header__menu-icon
        p
        p
        p