.custom-header {
  %SELECTOR {
    position: absolute;
    left: 22px;
    width: 15px;
    height: 10px;
    content: "";
    background:url('../assets/selector.png') no-repeat;
  }

  position: absolute;
  display: block;
  top: 0;

  @extend %CUSTOM-HEADER-COMPONENT;

  &__container {
    position: absolute;
    height: inherit;
    @extend %HEADER-CONTAINER-COMPONENT;
  }
  
  &__contacts {
    position: absolute;
    @extend %PHONE;
    @extend %CONTACTS-COMPONENT;

    &:after {
      border-left: 2px solid $BASE-COLOR;       
      content: "";
      opacity: 0.2;
      @extend %HEADER-LINE-COMPONENT;
    }
  }

  &__language {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    opacity: 0.7;

    @extend %LANGUAGE;
    @extend %LANGUAGE-COMPONENT;

    &:after {
      @extend %SELECTOR;
      bottom: 4px;

    }

    &_opened {
      &:after {
        @extend %SELECTOR;
        bottom: 8px;
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg)
      } 
    }
  }

  &__menu {
    position: absolute;
    font-size: 12px;
    right: 15px;
    top: 45px;
    opacity: 0.7;
    &:before {   
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      left: -30px;
      content: "";
      background:url('../assets/menu.png') no-repeat;
    }
  }
}