@font-face {
    font-family: 'FuturaNew';
    src: url('fonts/hinted-FuturaNewBook-Reg.woff2') format('woff2'),
        url('fonts/hinted-FuturaNewBook-Reg.woff') format('woff'),
        url('fonts/hinted-FuturaNewBook-Reg.svg#FuturaNewBook-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('fonts/hinted-FuturaNewLight-Reg.woff2') format('woff2'),
        url('fonts/hinted-FuturaNewLight-Reg.woff') format('woff'),
        url('fonts/hinted-FuturaNewLight-Reg.svg#FuturaNewLight-Reg') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaNew';
    src: url('fonts/hinted-FuturaNewDemi-Reg.woff2') format('woff2'),
        url('fonts/hinted-FuturaNewDemi-Reg.woff') format('woff'),
        url('fonts/hinted-FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg') format('svg');
    font-weight: bold;
    font-style: normal;
}

