@font-face {
    font-family: 'Futura New';
    src: url('hinted-FuturaNewLight-Reg.woff2') format('woff2'),
        url('hinted-FuturaNewLight-Reg.woff') format('woff'),
        url('hinted-FuturaNewLight-Reg.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New';
    src: url('hinted-FuturaNewMedium-Reg.woff2') format('woff2'),
        url('hinted-FuturaNewMedium-Reg.woff') format('woff'),
        url('hinted-FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New Demi';
    src: url('hinted-FuturaNewDemi-Reg.woff2') format('woff2'),
        url('hinted-FuturaNewDemi-Reg.woff') format('woff'),
        url('hinted-FuturaNewDemi-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura New Book';
    src: url('hinted-FuturaNewBook-Reg.woff2') format('woff2'),
        url('hinted-FuturaNewBook-Reg.woff') format('woff'),
        url('hinted-FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

