.download-services {

  @mixin hover{
    .download-services:hover &{
      @content;
    }
  }
  @extend %DOWNLOAD-SERVICES-COMPONENT;

  &__icon {
    display: inline-block;
    @extend %DOWNLOAD-ICON-COMPONENT;
  }

  &__text {
    position: absolute;
    display: inline-block;
    color: $BASE-COLOR;
    text-decoration: none;
    transition: opacity .3s;

    @include hover{
      opacity: 0.5;
    }

    &:after {
      content: "";
      position: absolute;
      opacity: 1;
      width: 100%;
      height: 1px;
      margin-top: -5px;
      @include MOBILE {
        margin: 15px -65px;
      }
      background:url('dots.png');
      transition: opacity .3s;

      @include hover{
        opacity: 0;
      }
    }

    @extend %FOOTER-LINK;
    @extend %DOWNLOAD-TEXT-COMPONENT;

  }
}
