.download-services {

  @mixin hover{
    .download-services:hover &{
      @content;
    }
  }
  position: relative;
  top: 0;
  width: 100%;

  @include DESKTOP {
    margin: vw(0) vw($DOWNLOAD-LINK-MARGIN-LEFT);  
  }
  @include TABLET-L {
    margin: 0 $DOWNLOAD-LINK-MARGIN-LEFT-LAPTOP;  
  }
  @include TABLET {
    margin: 0 $DOWNLOAD-LINK-MARGIN-LEFT-TABLET;  
  }
  @include MOBILE {
    display: inline;
    height: 40px;
    width: 300px;
    margin: 60px 20px;  
    @media (orientation: landscape) {
      margin: 40px 40px;  
    }
  }

  &__icon {
    display: inline-block;
    width: 30px;
    @include DESKTOP {
      width: vw(45px);
      margin-top: vw(6px);
    }
    @include MOBILE {
      width: vw-m(30px);
      margin: 15px 0;
      @media (orientation: landscape) {
        width: vw-m(21px);
        margin: 8px 0;
      }
    }
  }

  &__text {
    @extend %FOOTER-LINK;
    display: inline-block;
    position: absolute;
    color: $BASE-COLOR;
    text-decoration: none;
    transition: opacity .3s;

    @include hover{
      opacity: 0.5;
    }

    &:after {
      position: absolute;
      width: 100%;
      height: 1px;
      margin-top: vw(-5px);
      opacity: 1;
      content: "";
      background:url('dots.png');
      transition: opacity .3s;

      @include MOBILE {
        margin: 15px -65px;
      }
      @include hover{
        opacity: 0;
      }
    }

    @include DESKTOP {
      margin: vw(11px) vw(10px);
    }
    @include TABLET-L {
      margin: 4px 10px;
    }
    @include TABLET {
      margin: 4px 10px;
    }
    @include MOBILE {
      margin: 13px vw-m(10px);
      width: 70px;
      @media (orientation: landscape) {
        margin: 12px vw-m(10px);
        width: 70px;
      }
    }

  }
}
