mixin download-services(content,params)
  a(href="#").download-services&attributes(attributes)
    img(src='assets/iconpdf.png').download-services__icon 
    span.download-services__text Скачать «Услуги FWR» 