.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $FOOTER_COLOR;
  padding-top: $FOOTER-PADDING;
  @extend %FOOTER-COMPONENT;

  &__text {
    color: black;
    width: 100%;
    opacity: 0.5;
    @extend %FOOTER-TEXT;
    @extend %FOOTER-TEXT-COMPONENT;
  }
}