.inner-block {
  position: relative;
  height: auto;

  @include DESKTOP {
    width: vw($INNER-BLOCK-WIDTH);
  }
  @include TABLET-L {
    width: 100%;
  }
  @include TABLET {
    width: 100%;
  }
  @include MOBILE {
    display: block;
    width: 100%;
    top: 0;
    padding: 0 0 $HEADER-CONTAINER-HEIGHT-MOBILE 0;
  }

  &__image-container {
    @include TABLET {
      position: relative;
      height: 310px;
    }

    @include MOBILE {
      position: relative;
      height: 240px;
    }
  }

  &__image {
    display: block;
    float: left;  

    @include DESKTOP {
      margin: vw(3px 0 0 20px);
      width: vw($IMAGE-WIDTH);
    }
    @include TABLET-L {
      margin-right: 50px;
      width: $IMAGE-WIDTH-LAPTOP;
    }
    @include TABLET {
      float: none;
      position: relative;
      height: 340px;
      top: 40%;
      left: 50%;
      transform: translate( -50%, -50% );
    }
    @include MOBILE {
      float: none;
      position: relative;
      display: block;
      top:60%;
      left: 50%;
      transform: translate( -50%, -50% );
      width: 260px;
    }
  }

  &__text {
    @include TABLET {
    }

    &_light {
      color: $LIGHT-TEXT-COLOR;
    }
  }

  &__info {
    @include TABLET {
      position: relative;
      height: auto;
      margin-left:$TITLE-MARGIN-LEFT;
    }
  }

  &__title {
    @extend %H2;
    @include DESKTOP {
      margin: vw($TITLE-MARGIN-TOP 0 $TITLE-MARGIN-BOTTOM);
    }
    @include TABLET-L {
      margin: $TITLE-MARGIN-TOP-LAPTOP 0 $TITLE-MARGIN-BOTTOM-LAPTOP;
    }
    @include TABLET {
      margin: 5px 0 $TITLE-MARGIN-BOTTOM-TABLET;
    }
    @include MOBILE {
      margin: $TITLE-MARGIN-TOP-MOBILE vw-m($TITLE-MARGIN-LEFT-MOBILE) 0;
   } 
  }

  &__column {
    position: relative;
    display: inline-block;
    vertical-align: top;

    @include DESKTOP {
      margin-right: vw($COLUMN-MARGIN);
      width: vw($COLUMN-TEXT-WIDTH);
    }
    @include TABLET-L {
      margin-right: $COLUMN-MARGIN-LAPTOP;
      width: $COLUMN-TEXT-WIDTH-LAPTOP;
    }
    @include TABLET {
      margin-right: $COLUMN-MARGIN-TABLET;
      width: $COLUMN-TEXT-WIDTH-TABLET;
    }
    @include MOBILE {
      display: block;
      width: $COLUMN-TEXT-WIDTH-MOBILE;
      margin: 0 vw-m($TITLE-MARGIN-LEFT-MOBILE);
    }
  }
  &__text-item {
    @extend %TEXT;
    margin: 18px 0;
    @include DESKTOP {
      margin: vw(18px) vw(0);
    }
  }

  &__link {
    @extend %TEXT;
    position: relative;
    color: $LIGHT-TEXT-COLOR;

    &:after {
      position: absolute;
      display: inline-block;
      bottom: 7px;
      left: 53px;
      width: 20px;
      height: 6px;
      opacity: 1;
      background: url('../assets/arrow.png') no-repeat;
      content: "";
      cursor: pointer;
      @include DESKTOP {
        bottom: vw(7px);
        left: vw(53px);
        width: vw(20px);
        height: vw(6px);
      }
    }
  }
}