.inner-block {
  position: absolute;
  @extend %INNER-BLOCK-COMPONENT;

  &__image {
    display: block;
    float: left;
    @extend %IMAGE-COMNPONENT;
  }

  &__title {
    @extend %TITLE-COMPONENT;
    @extend %H2;
  }

  &__column {
    position: relative;
    display: inline-block;
    vertical-align: top;

    @extend %COLUMN-COMPONENT;
  }

  &__link {
    position: relative;
    @extend %TEXT;

    &:after {
      content: "";
      position: absolute;
      display: inline-block;
      bottom: 7px;
      left: 53px;
      width: 20px;
      height: 6px;
      background:url('../assets/arrow.png') no-repeat;
      opacity: 1;
      cursor: pointer;
    }
  }

  &__text-item {
    margin: 18px 0;
    @extend %TEXT;

    &:nth-child(3):last-child {
      opacity: 0.6;
    }
  }
}