/**
 * breakpoints
 */
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1280px;

/**
 * font-family
 */
$Arial: Arial, Helvetica, sans-serif;
$FuturaNew: FuturaNew, Helvetica, sans-serif;

/**
 * color
 */
$SANDY: #eee2c7;
$BROWN: #99856e;
$FLAG: #ddd0b1;
$WHITE: #ffffff;
$BLACK: #000000;
$BASE-COLOR: #4c3440;
$DARK-BROWN: #231f20;
$COLOR-BODY: #f9f9f8;
$MENU-COLOR: #f2f1f1;
$FOOTER_COLOR: #f8f7f7;
$NORMAL_BUTTON_COLOR: #b3aaaf;
$HOVER_BUTTON_COLOR: #6d5b66;
$LIGHT-TEXT-COLOR: #6d5b66;
/**
 * z-layer
 */
$z-modal: 1000;

/**
 * font-weight
 */
$FW-NORMAL: 400;
$FW-BOLD: 700;
$FW-THIN: 100;
$FW-EXTRA_LIGHT: 200;
$FW-ULTRA_LIGHT: 200;
$FW-LIGHT: 300;
$FW-MEDIUM: 500;
$FW-SEMI_BOLD: 600;
$FW-DEMI_BOLD: 600;
$FW-EXTRA_BOLD: 800;
$FW-ULTRA_BOLD: 800;
$FW-BLACK: 900;
$FW-HEAVY: 900;

/**
 * other
 */

$DESIGN-W: 1600px;
$DESIGN-H: 900px;

$DESIGN-Wm: 320px;
$DESIGN-Hm: 568px;

 $LOGO-WIDTH-DEFAULT: 240px;
// >>> DESKTOP >>>
$PAGE-BORDER: 22px;

$COLUMN-WIDTH: 112px;

//menu
$MENU-WIDTH: 295px;
$MENU-PADDING: 31px;
$MENU-ITEM-MARGIN: 28px;
$MENU-ITEM-MARGIN-LEFT: 55px;
$MENU-LINE-MARGIN: 35px;

//buttons
$BUTTONS-HEIGHT: 35px;
$BUTTONS-MARGIN-TOP: 68px;
$BUTTONS-MARGIN-BOTTOM: 60px;
$BUTTONS-MARGIN-LEFT: 55px;
$ONLINE-BUTTON-WIDTH: 117px;
$DEALER-BUTTON-WIDTH: 65px;

//footer
$FOOTER-HEIGHT: 110px;
$FOOTER-PADDING: 25px;
$FOOTER-MARGIN-LEFT: 55px;
$FOOTER-MARGIN: 18px;
//download
$DOWNLOAD-LINK-MARGIN-LEFT: 53px;

//header
$HEADER-WIDTH: calc(100% - #{$MENU-WIDTH});
$HEADER-HEIGHT: 155px;
$HEADER-CONTAINER-WIDTH-DESKTOP: 355px;


//inner-block
$INNER-BLOCK-WIDTH: calc(100% - #{$MENU-WIDTH});
$IMAGE-WIDTH: $COLUMN-WIDTH * 3.5;
$TITLE-MARGIN-TOP: 60px; 
$TITLE-MARGIN-BOTTOM: 30px; 
$COLUMN-TEXT-WIDTH: 325px;
$COLUMN-MARGIN: 33px;

$LOGO-HEIGHT-DESKTOP: 90px;

$LANGUAGE-RIGHT-DESKTOP: 21px;
$LANGUAGE-TOP-DESKTOP: 58px;


// >>> LAPTOP >>>
$PAGE-BORDER-LAPTOP: 17px;
//menu
$MENU-WIDTH-LAPTOP: 220px;
$MENU-PADDING-LAPTOP: 20px;
$MENU-ITEM-MARGIN-LAPTOP: 22px;
$MENU-ITEM-MARGIN-LEFT-LAPTOP: 43px;
$MENU-LINE-MARGIN-LAPTOP: 25px;

//buttons
$BUTTONS-HEIGHT-LAPTOP: 25px;
$BUTTONS-MARGIN-TOP-LAPTOP: 57px;
$BUTTONS-MARGIN-BOTTOM-LAPTOP: 60px;
$BUTTONS-MARGIN-LEFT-LAPTOP: 42px;
$ONLINE-BUTTON-WIDTH-LAPTOP: 90px;
$DEALER-BUTTON-WIDTH-LAPTOP: 55px;

//footer
$FOOTER-HEIGHT-LAPTOP: 69px;
$FOOTER-MARGIN-LEFT-LAPTOP: 42px;
$FOOTER-MARGIN-LAPTOP: 12px;

//download
$DOWNLOAD-LINK-MARGIN-LEFT-LAPTOP: 41px;

//header
$HEADER-WIDTH-LAPTOP: 100%;
$HEADER-HEIGHT-LAPTOP: 100px;
$HEADER-CONTAINER-WIDTH-LAPTOP: 370px;
$CONTACTS-TOP-LAPTOP: 43px; 


//inner-block
$IMAGE-WIDTH-LAPTOP: 340px;
$TITLE-MARGIN-TOP-LAPTOP: 50px; 
$TITLE-MARGIN-BOTTOM-LAPTOP: 15px; 
$COLUMN-TEXT-WIDTH-LAPTOP: 230px;
$COLUMN-MARGIN-LAPTOP: 38px;

$LOGO-HEIGHT-LAPTOP: 60px;

$LANGUAGE-RIGHT-LAPTOP: 120px;
$LANGUAGE-TOP-LAPTOP: 43px;

// >>> TABLET >>>

$PAGE-BORDER-TABLET: 19px;

//menu
$MENU-WIDTH-TABLET: 324px;
$MENU-PADDING-TABLET: 30px;
$MENU-ITEM-MARGIN-TABLET: 30px;
$MENU-ITEM-MARGIN-LEFT-TABLET: 64px;
$MENU-LINE-MARGIN-TABLET: 35px;

//footer
$FOOTER-HEIGHT-TABLET: 115px;
$FOOTER-MARGIN-LEFT-TABLET: 70px;
$FOOTER-MARGIN-TABLET: 5px;

//buttons
$BUTTONS-HEIGHT-TABLET: 37px;
$BUTTONS-MARGIN-TOP-TABLET: 75px;
$BUTTONS-MARGIN-BOTTOM-TABLET: 46px;
$BUTTONS-MARGIN-LEFT-TABLET: 60px;
$ONLINE-BUTTON-WIDTH-TABLET: 130px;
$DEALER-BUTTON-WIDTH-TABLET: 80px;

//inner-block
$IMAGE-HEIGHT-TABLET: 340px;
$TITLE-MARGIN-TOP-TABLET: 100px; 
$TITLE-MARGIN-LEFT: 87px;
$TITLE-MARGIN-BOTTOM-TABLET: 14px; 
$COLUMN-TEXT-WIDTH-TABLET: 230px;
$COLUMN-MARGIN-TABLET: 90px;

//download
$DOWNLOAD-LINK-MARGIN-LEFT-TABLET: 75px;

//header
$HEADER-CONTAINER-WIDTH-TABLET: 395px;

$LANGUAGE-RIGHT-TABLET: 145px;
$LANGUAGE-TOP-TABLET: 40px;


//>>> MOBILE >>>
$PAGE-BORDER-MOBILE: 10px;

//menu
$MENU-WIDTH-MOBILE: 100%;
$MENU-PADDING-MOBILE: 0;
$MENU-ITEM-MARGIN-MOBILE: 25px;
$MENU-ITEM-MARGIN-BOTTOM-MOBILE: 34px;
$MENU-ITEM-MARGIN-LEFT-MOBILE: 15px;
$MENU-LINE-MARGIN-MOBILE: 40px;
$MENU-LINE-MARGIN-BOTTOM-MOBILE: 46px;

//footer
$FOOTER-HEIGHT-MOBILE: 60px;
$FOOTER-MARGIN-LEFT-MOBILE: 0;
$FOOTER-MARGIN-MOBILE: 0;

//buttons
$BUTTONS-HEIGHT-MOBILE: 40px;
$BUTTONS-MARGIN-TOP-MOBILE: 30px;
$BUTTONS-MARGIN-BOTTOM-MOBILE: 49px;
$BUTTONS-MARGIN-LEFT-MOBILE: 17px;
$ONLINE-BUTTON-WIDTH-MOBILE: 150px;
$DEALER-BUTTON-WIDTH-MOBILE: 115px;

//inner-block
$IMAGE-WIDTH-MOBILE: 240px;
$TITLE-MARGIN-TOP-MOBILE: 33px; 
$TITLE-MARGIN-LEFT-MOBILE: 15px;
$COLUMN-MARGIN-LEFT-MOBILE: 50px;
$COLUMN-TEXT-WIDTH-MOBILE: calc(100% - #{$COLUMN-MARGIN-LEFT-MOBILE});
$COLUMN-MARGIN-MOBILE: 0;

//download
$DOWNLOAD-LINK-MARGIN-LEFT-MOBILE: 25px;

//header 
$HEADER-CONTAINER-WIDTH-MOBILE: 100%;
$HEADER-CONTAINER-HEIGHT-MOBILE: 55px;
$CONTACTS-TOP-MOBILE: 52px; 

$LOGO-HEIGHT-MOBILE: 60px;

$LANGUAGE-TOP-MOBILE: 53px;
$LANGUAGE-RIGHT-MOBILE: 45px;










