/**
 * breakpoints
 */
$MOBILE: 320px;
$TABLET: 768px;
$TABLET-L: 1024px;
$DESKTOP: 1600px;

/**
 * font-family
 */
$Arial: Arial, Helvetica, sans-serif;
$FuturaNew: FuturaNew, Helvetica, sans-serif;

/**
 * color
 */
$SANDY: #eee2c7;
$BROWN: #99856e;
$FLAG: #ddd0b1;
$WHITE: #ffffff;
$BLACK: #000000;
$BASE-COLOR: #4c3440;
$DARK-BROWN: #231f20;
$COLOR-BODY: #f9f9f8;
$MENU-COLOR: #f2f1f1;
$FOOTER_COLOR: #f8f7f7;
$NORMAL_BUTTON_COLOR: #b3aaaf;
$HOVER_BUTTON_COLOR: #6d5b66;

/**
 * z-layer
 */
$z-modal: 1000;

/**
 * font-weight
 */
$FW-NORMAL: 400;
$FW-BOLD: 700;
$FW-THIN: 100;
$FW-EXTRA_LIGHT: 200;
$FW-ULTRA_LIGHT: 200;
$FW-LIGHT: 300;
$FW-MEDIUM: 500;
$FW-SEMI_BOLD: 600;
$FW-DEMI_BOLD: 600;
$FW-EXTRA_BOLD: 800;
$FW-ULTRA_BOLD: 800;
$FW-BLACK: 900;
$FW-HEAVY: 900;

/**
 * other
 */
// >>> DESKTOP >>>
$PAGE-BORDER: 22px;

$COLUMN-WIDTH: 112px;

//menu
$MENU-WIDTH: 295px;
$MENU-PADDING: 31px;
$MENU-ITEM-MARGIN: 28px;
$MENU-ITEM-MARGIN-LEFT: 55px;
$MENU-LINE-MARGIN: 35px;

//buttons
$BUTTONS-HEIGHT: 35px;
$BUTTONS-MARGIN-TOP: 68px;
$BUTTONS-MARGIN-BOTTOM: 60px;
$BUTTONS-MARGIN-LEFT: 55px;
$ONLINE-BUTTON-WIDTH: 117px;
$DEALER-BUTTON-WIDTH: 65px;

//footer
$FOOTER-HEIGHT: 110px;
$FOOTER-PADDING: 25px;
$FOOTER-MARGIN-LEFT: 55px;
$FOOTER-MARGIN: 18px;
//download
$DOWNLOAD-LINK-MARGIN-LEFT: 53px;

//header
$HEADER-WIDTH: calc(100% - #{$MENU-WIDTH});
$HEADER-HEIGHT: 155px;

//inner-block
$IMAGE-WIDTH: $COLUMN-WIDTH * 3.5;
$TITLE-MARGIN-TOP: 40px; 
$TITLE-MARGIN-BOTTOM: 32px; 
$COLUMN-TEXT-WIDTH: 325px;
$COLUMN-MARGIN: 33px;



// >>> LAPTOP >>>
$PAGE-BORDER-LAPTOP: 17px;
//menu
$MENU-WIDTH-LAPTOP: 220px;
$MENU-PADDING-LAPTOP: 20px;
$MENU-ITEM-MARGIN-LAPTOP: 22px;
$MENU-ITEM-MARGIN-LEFT-LAPTOP: 43px;
$MENU-LINE-MARGIN-LAPTOP: 25px;

//buttons
$BUTTONS-HEIGHT-LAPTOP: 25px;
$BUTTONS-MARGIN-TOP-LAPTOP: 57px;
$BUTTONS-MARGIN-BOTTOM-LAPTOP: 60px;
$BUTTONS-MARGIN-LEFT-LAPTOP: 42px;
$ONLINE-BUTTON-WIDTH-LAPTOP: 90px;
$DEALER-BUTTON-WIDTH-LAPTOP: 55px;

//footer
$FOOTER-HEIGHT-LAPTOP: 69px;
$FOOTER-MARGIN-LEFT-LAPTOP: 42px;
$FOOTER-MARGIN-LAPTOP: 12px;

//download
$DOWNLOAD-LINK-MARGIN-LEFT-LAPTOP: 41px;

//header
$HEADER-WIDTH-LAPTOP: 100%;
$HEADER-HEIGHT-LAPTOP: 100px;

//inner-block
$IMAGE-WIDTH-LAPTOP: 353px;
$TITLE-MARGIN-TOP-LAPTOP: 50px; 
$TITLE-MARGIN-BOTTOM-LAPTOP: 15px; 
$COLUMN-TEXT-WIDTH-LAPTOP: 230px;
$COLUMN-MARGIN-LAPTOP: 38px;




$INNER-BLOCK-WIDTH: calc(100% - #{$MENU-WIDTH});







