// COLORS 
$COLOR-BODY: #f9f9f8;
$MENU-COLOR: #f2f1f1;
$TEXT-COLOR: #4c3440;
$NORMAL_BUTTON_COLOR: #b3aaaf;
$HOVER_BUTTON_COLOR: #6d5b66;

//  VARS
$PAGE-BORDER: 22px;
$MENU-WIDTH: 290px;
$MENU-ITEM-MARGIN: 30px;
$MENU-ITEM-MARGIN-LEFT: 50px;
$BUTTONS-MARGIN: 70px;
$BUTTONS-MARGIN-LEFT: 45px;