//PAGE
%PAGE-COMPONENT {
  @include DESKTOP {
    border: $PAGE-BORDER solid white;
  }
  @include TABLET-L {
    border: $PAGE-BORDER-LAPTOP solid white;
  }
  @include TABLET {
    border: $PAGE-BORDER-TABLET solid white;
  }
  @include MOBILE {
    border: $PAGE-BORDER-MOBILE solid white;
  }
}

//HEADER 
%CUSTOM-HEADER-COMPONENT {
  width: 100%;
  position: absolute;
  @include DESKTOP {
    width: $HEADER-WIDTH;
    height: $HEADER-HEIGHT;
  }
  @include TABLET-L {
    height: $HEADER-HEIGHT-LAPTOP;
  }
  @include TABLET {
    height: $HEADER-HEIGHT-LAPTOP;
  }
  @include MOBILE {
    position: static;
    height: 0;
  }
}

%HEADER-CONTAINER-COMPONENT {
  right: 25px;
  @include DESKTOP {
    width: $HEADER-CONTAINER-WIDTH-DESKTOP;
  }
  @include TABLET-L {
    width: $HEADER-CONTAINER-WIDTH-LAPTOP;
  }
  @include TABLET {
    width: $HEADER-CONTAINER-WIDTH-TABLET;
    right: 0;
  }
  @include MOBILE {
    position: fixed!important;
    height: 60px!important;
    width: $HEADER-CONTAINER-WIDTH-MOBILE;
    left:0;
    bottom: 0px;
    z-index: 5;
    background: $FOOTER_COLOR;
  }
}

%CONTACTS-COMPONENT {
  top: 55px;
  @include TABLET-L {
    top: $CONTACTS-TOP-LAPTOP;
  }
  @include TABLET {
    top: 40px;
  }
  @include MOBILE {
    position: fixed;
    top: $CONTACTS-TOP-MOBILE; 
    left: 25px;
    margin: -35px 0;
    z-index: 10;
  }
}

%HEADER-LINE-COMPONENT {
  height: 40px; 
  margin: 0 20px;
  @include DESKTOP {
    margin: 0 30px;
  }
}

%LANGUAGE-COMPONENT {
  @include DESKTOP {
    right: $LANGUAGE-RIGHT-DESKTOP;
    top: $LANGUAGE-TOP-DESKTOP;

  }
  @include TABLET-L {
    right: $LANGUAGE-RIGHT-LAPTOP;
    top: $LANGUAGE-TOP-LAPTOP;
  }

  @include TABLET {
    right: $LANGUAGE-RIGHT-TABLET;
    top: $LANGUAGE-TOP-TABLET;
  }
  @include MOBILE {
    right: $LANGUAGE-RIGHT-MOBILE;
    top: $LANGUAGE-TOP-MOBILE;
    margin: -35px 0;

  }
}

//LOGO
%LOGO-COMPONENT {
  z-index: 5;
  top: 55px;  
  width: $LOGO-WIDTH-DEFAULT;
  @include DESKTOP {
    left: 53px;
    height: $LOGO-HEIGHT-DESKTOP;
  }
  @include TABLET-L {
    top: 42px;
    left: 40px;
  }
  @include TABLET {
    top: 40px;
    left: 35px;
    width: 182px;
    height: $LOGO-HEIGHT-LAPTOP;
  }
  @include MOBILE {
    top: 25px;
    left: 25px;
    width: 182px;
    height: $LOGO-HEIGHT-MOBILE;
  }
}

%LOGO-MENU-OPENED {
  top: 42px;
  left: 40px;
  width: 240px;
  height: 90px;
}

//MENU
%MENU-COMPONENT {
  @include DESKTOP {
    padding-top: $MENU-PADDING;
    width: $MENU-WIDTH;
  }
  @include TABLET-L {
    padding-top: $MENU-PADDING-LAPTOP;
    width: $MENU-WIDTH-LAPTOP;
    box-shadow: -12px 0 10px rgba(0,0,0,0.1);
  }
  @include TABLET {
    padding-top: $MENU-PADDING-TABLET;
    width: $MENU-WIDTH-TABLET;
    box-shadow: -12px 0 10px rgba(0,0,0,0.1);
  }
  @include MOBILE {
    padding-top: $MENU-PADDING-MOBILE;
    width: $MENU-WIDTH-MOBILE;
    box-shadow: -12px 0 10px rgba(0,0,0,0.1);
  }
}

%MENU-ITEM-COMPONENT {
  @include DESKTOP {
    margin: $MENU-ITEM-MARGIN 0;
  }
  @include TABLET-L {
    margin: $MENU-ITEM-MARGIN-LAPTOP 0;
  }
  @include TABLET {
    margin: $MENU-ITEM-MARGIN-TABLET 0;
  }
  @include MOBILE {
    margin: $MENU-ITEM-MARGIN-MOBILE 0;
  }
}

%MENU-LIST-COMPONENT {
  @include DESKTOP {
    padding: 0 $MENU-ITEM-MARGIN-LEFT;
  }
  @include TABLET-L {
    padding: 0 $MENU-ITEM-MARGIN-LEFT-LAPTOP;
  }
  @include TABLET {
    padding: 0 $MENU-ITEM-MARGIN-LEFT;
  }
  @include MOBILE {
    padding: 0 $MENU-ITEM-MARGIN-LEFT-MOBILE;
  }
}

%MENU-LINE-COMPONENT {
  @include DESKTOP {
    margin: $MENU-LINE-MARGIN 0;
  }
  @include TABLET-L {
    margin: $MENU-LINE-MARGIN-LAPTOP 0;
  }
  @include TABLET {
    margin: $MENU-LINE-MARGIN-TABLET 0;
  }
  @include MOBILE {
    margin: $MENU-LINE-MARGIN-MOBILE 0 $MENU-LINE-MARGIN-BOTTOM-MOBILE;
  }
}

%MENU-CLOSE-COMPONENT {
  @include TABLET-L {
    right: 35px;
    top: 46px;
    width: 15px;
    height: 10px;
  }
  @include TABLET {
    right: 35px;
    top: 46px;
    width: 15px;
    height: 10px;
  }
  @include MOBILE {
    right: 35px;
    top: 40px;
    width: 20px;
    height: 20px;
    background-size: 150% 150%;
  }
}

//BUTTONS

%BUTTONS-COMPONENT {
  @include DESKTOP {
    height: $BUTTONS-HEIGHT;
    margin: $BUTTONS-MARGIN-TOP 0 $BUTTONS-MARGIN-BOTTOM $BUTTONS-MARGIN-LEFT;  
  }
  @include TABLET-L {
    height: $BUTTONS-HEIGHT-LAPTOP;
    margin: $BUTTONS-MARGIN-TOP-LAPTOP 0 $BUTTONS-MARGIN-BOTTOM-LAPTOP $BUTTONS-MARGIN-LEFT-LAPTOP;  
  }
  @include TABLET {
    height: $BUTTONS-HEIGHT-TABLET;
    margin: $BUTTONS-MARGIN-TOP-TABLET 0 $BUTTONS-MARGIN-BOTTOM-TABLET $BUTTONS-MARGIN-LEFT-TABLET;  
  }
  @include MOBILE {
    height: $BUTTONS-HEIGHT-MOBILE;
    margin: $BUTTONS-MARGIN-TOP-MOBILE 0 $BUTTONS-MARGIN-BOTTOM-MOBILE $BUTTONS-MARGIN-LEFT-MOBILE;  
  }
}

%ONLINE-BUTTON-COMPONENT {
  @include DESKTOP {
    width: $ONLINE-BUTTON-WIDTH;
  }
  @include TABLET-L {
    width: $ONLINE-BUTTON-WIDTH-LAPTOP;
  }
  @include TABLET {
    width: $ONLINE-BUTTON-WIDTH-TABLET;
  }
  @include MOBILE {
    width: $ONLINE-BUTTON-WIDTH-MOBILE;
  }
}

%DEALER-BUTTON-COMPONENT {
  @include DESKTOP {
    width: $DEALER-BUTTON-WIDTH;
  }
  @include TABLET-L {
    width: $DEALER-BUTTON-WIDTH-LAPTOP;
  }
  @include TABLET {
    width: $DEALER-BUTTON-WIDTH-TABLET;
  }
  @include MOBILE {
    width: $DEALER-BUTTON-WIDTH-MOBILE;
  }
}

%BUTTON-COMPONENT {
  @include DESKTOP {
    height: $BUTTONS-HEIGHT;
  }
  @include TABLET-L {
    height: $BUTTONS-HEIGHT-LAPTOP;  
  }
  @include TABLET {
    height: $BUTTONS-HEIGHT-TABLET;  
  }
  @include MOBILE {
    height: $BUTTONS-HEIGHT-MOBILE;  
  }
}

//INNER-BLOCK 
%INNER-BLOCK-COMPONENT {
  @include DESKTOP {
    top: $HEADER-HEIGHT;
    width: $INNER-BLOCK-WIDTH;
  }
  @include TABLET-L {
    top: $HEADER-HEIGHT-LAPTOP;
    width: 100%;
  }
  @include TABLET {
    top: $HEADER-HEIGHT-LAPTOP;
    width: 100%;
  }
  @include MOBILE {
    top: $HEADER-HEIGHT-LAPTOP;
    width: 100%;
  }
}

%IMAGE-COMNPONENT {
  float: left;  
  @include DESKTOP {
    margin: 3px 0 0 20px;
    width: $IMAGE-WIDTH;
  }
  @include TABLET-L {
    margin-right: 50px;
    width: $IMAGE-WIDTH-LAPTOP;
  }
  @include TABLET {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -15% );
    width: 270px;
    // height: 450px;
  }
  @include MOBILE {
    float: none;
    display: block;
    margin: -120px 0 -60px; 
    height: 340px;
  }
}

%TITLE-COMPONENT {
  @include DESKTOP {
    margin: $TITLE-MARGIN-TOP 0 $TITLE-MARGIN-BOTTOM;
  }
  @include TABLET-L {
    margin: $TITLE-MARGIN-TOP-LAPTOP 0 $TITLE-MARGIN-BOTTOM-LAPTOP;
  }
  @include TABLET {
    margin: $TITLE-MARGIN-TOP-LAPTOP 0 $TITLE-MARGIN-BOTTOM-LAPTOP;
  }
  @include MOBILE {
    margin: $TITLE-MARGIN-TOP-MOBILE $TITLE-MARGIN-LEFT-MOBILE 0;
  }
}

%COLUMN-COMPONENT {
  @include DESKTOP {
    margin-right: $COLUMN-MARGIN;
    width: $COLUMN-TEXT-WIDTH;
  }
  @include TABLET-L {
    margin-right: $COLUMN-MARGIN-LAPTOP;
    width: $COLUMN-TEXT-WIDTH-LAPTOP;
  }
  @include TABLET {
    margin-right: $COLUMN-MARGIN-TABLET;
    width: $COLUMN-TEXT-WIDTH-TABLET;
  }
  @include MOBILE {
    width: $COLUMN-TEXT-WIDTH-MOBILE;
    margin: 0 $TITLE-MARGIN-LEFT-MOBILE;
  }
}

//FOOTER

%FOOTER-COMPONENT {
  @include DESKTOP {
    height: $FOOTER-HEIGHT;
  }
  @include TABLET-L {
    height: $FOOTER-HEIGHT-LAPTOP;
  }
  @include TABLET {
    height: $FOOTER-HEIGHT-TABLET;
  }
  @include MOBILE {
    height: $FOOTER-HEIGHT-MOBILE;
  }
}

%FOOTER-TEXT-COMPONENT {
  width: auto;
  @include DESKTOP {
    margin: $FOOTER-MARGIN $FOOTER-MARGIN-LEFT;
  }
  @include TABLET-L {
    margin: $FOOTER-MARGIN-LAPTOP $FOOTER-MARGIN-LEFT-LAPTOP;
  }
  @include TABLET {
    margin: $FOOTER-MARGIN-TABLET $FOOTER-MARGIN-LEFT-TABLET;
  }
  @include MOBILE {
    position: absolute;
    right: 25px;
    top: 40px;
    display: inline;
    width: 98px;
  }
}

//DOWNLOAD-SERVICES
%DOWNLOAD-SERVICES-COMPONENT {
  @include DESKTOP {
    margin: 0 $DOWNLOAD-LINK-MARGIN-LEFT;  
  }
  @include TABLET-L {
    margin: 0 $DOWNLOAD-LINK-MARGIN-LEFT-LAPTOP;  
  }
  @include TABLET {
    margin: 0 $DOWNLOAD-LINK-MARGIN-LEFT-TABLET;  
  }
  @include MOBILE {
    position: absolute;
    left: 25px;
    top: 40px;
    display: inline;
  }
}

%DOWNLOAD-ICON-COMPONENT {
  @include DESKTOP {
    width: 45px;
    height: 35px;
    margin-top: 6px;
  }
  @include TABLET-L {
    width: 30px;
    height: 25px;
  }
  @include TABLET {
    width: 30px;
    height: 25px;
  }
  @include MOBILE {
    width: 30px;
    height: 25px;
  }
}

%DOWNLOAD-TEXT-COMPONENT {
  @include DESKTOP {
    margin: 11px 10px;
  }
  @include TABLET-L {
    margin: 4px 10px;
  }
  @include TABLET {
    margin: 4px 10px;
  }
  @include MOBILE {
    margin: -5px 16px;
    width: 70px;
  }
}