-
  var menu_items = [
    {href:"#", title:'Сохранить и преумножить'},
    {href:"#", title:'Получить финансирование'},
    {href:"#", title:'Решение для вашего бизнеса'},
    {href:"#", title:'Расчетно-кассовое обслуживание'},
    {href:"#", title:'Решение для вашей семьи/Консалтинг'},
    {title: undefined},
    {href:"#", title:'О нас'},
    {href:"#", title:'Контактная информация'}
    ];



mixin menu(menu_active_item)
  input(id="close-menu" type="checkbox" checked="false").menu__checkbox
  nav.menu&attributes(attributes)
    label(for="close-menu").menu__checkbox-container
      p.rotate-left
      p.rotate-right
    ul.menu__list
      each item in menu_items
        -
          var classes = ['menu__item'];
          if ( menu_items[menu_active_item] == item ) classes.push('menu__item_active');
        +menu__item(item, classes)
    +raiffeisen-btns
    +footer()

mixin menu__item(content,classes)
  if content.href
    li(class = classes)&attributes(attributes)
      a(href=content.href).menu__item-link!=content.title  
  else
    li.menu__item_line


mixin menu__template(menu_active_item)
  .menu&attributes(attributes)
    .menu__list
    script(id="tmpl-sidebar-menu" type="text/x-handlebars-template")
      p.menu__item( class="{{class}}" data-content-id="{{content_id}}")
        a(href='{{href}}').menu__item-link {{title}}
    +raiffeisen-btns
    +footer()
