-
  var menu_items = [
    {href:"#", title:'Сохранить и преумножить'},
    {href:"#", title:'Получить финансирование'},
    {href:"#", title:'Решение для вашего бизнеса'},
    {href:"#", title:'Расчетно-кассовое обслуживание'},
    {href:"#", title:'Решение для вашей семьи/Консалтинг'},
    {title: undefined},
    {href:"#", title:'О нас'},
    {href:"#", title:'Контактная информация'}
    ];



mixin menu(content,params)
  input(id="close-menu" type="checkbox" checked="false").menu__checkbox
  nav.menu&attributes(attributes)
    label(for="close-menu").menu__checkbox-container
      p.rotate-left
      p.rotate-right
    ul.menu__list
      each item in menu_items
        +menu__item(item)
    +raiffeisen-btns
    +footer()



mixin menu__item(content,params)
  if content.href
    li.menu__item&attributes(attributes)
      a(href=content.href).menu__item-link!=content.title  
  else
    li.menu__item.menu__item_line

