-
  var menu_items = [
    {href:"#", title:'Сохранить и Преумножить'},
    {href:"#", title:'Получить финансирование'},
    {href:"#", title:'Решение для вашего бизнеса'},
    {href:"#", title:'Рассчетно-кассовое обслуживание'},
    {href:"#", title:'Решение для вашей семьи/Консалтинг'},
    {href:"#", title:'Сохранить и Преумножить'},
    {title: undefined},
    {href:"#", title:'О нас'},
    {href:"#", title:'Контактная информация'}
    ];



mixin menu(content,params)
  nav.menu&attributes(attributes)
    ul.menu__list
      each item in menu_items
        +menu__item(item)
    +raiffeisen-btns
    +footer()



mixin menu__item(content,params)
  if content.href
    li.menu__item&attributes(attributes)
      a(href=content.href).menu__item-link!=content.title  
  else
    li.menu__item.menu__item_line

