.menu {
  display: none;
  @mixin active{
    .menu__item_active &{
      @content;
    }
  }
  @mixin hover{
    .menu__item:hover &{
      @content;
    }
  }
  box-shadow: -12px 0 10px rgba(0,0,0,0.1);

  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box; 
  height: 100%;
  background: $MENU-COLOR;
  @extend %MENU-COMPONENT;

  &__list{
    @extend %MENU-LIST-COMPONENT;
    list-style: none;
  }

  &__item {
    width: 100%;
    @extend %MENU-ITEM;
    @extend %MENU-ITEM-COMPONENT;
  }

  &__item_line {
    height: 1px;
    width: 64px;
    background: $BASE-COLOR;
    opacity: 0.2;
    @extend %MENU-LINE-COMPONENT;
  }
    
  &__item-link {
    position: relative;
    text-decoration: none;
    color: rgba($BASE-COLOR,1); 
    transition: color .3s, font-weight .3s;
    @include hover{
      color: rgba($BASE-COLOR,0.5); 
    }
      
    @include active{
      color: rgba($BASE-COLOR,0.5); 
      font-weight: bold;
    }
    &:after{
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      width: 100%;
      border-bottom: 10px solid rgba($BASE-COLOR,0.2);
      transition: opacity .3s;

      @include active{
        opacity: 1;
      }
    }
  }
}